<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Todo app</title>
  </head>
  <body>
    <h1>The project App</h1>
    <img src="<%= filePath %>" alt="Something" />
    <form action=<%= `/todos` %> method="post">
      <div style="display: flex">
        <input id="postTodo" name="todo" type="text" maxlength="140" />
        <input type="submit"  value="Create todo">
      </div>
    </form>
    <h2>Todo</h2>
    <ul>
      <div style="display: flex">
        <% todos.forEach(todo => { %>
          <li><%= todo.todo %></li>
          <form action="/todos/<%= todo.id %>" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="done" value="<%= !todo.done %>">
            <button type="submit">Mark as Done</button>
          </form>
          <% }) %>
        </div>
    </ul>
    <h2>Done</h2>
    <ul>
      <% doneTodos.forEach(doneTodo => { %>
        <li><%= doneTodo.todo %></li>
        <% }) %>
    </ul>
    <p>DevOps with Kubernetes 2025</p>
  </body>
</html>
